[submodule "LineStorage"]
	path = LineStorage
	url = https://github.com/HemulGM/LineStorage.git
[submodule "Components"]
	path = Components
	url = https://github.com/HemulGM/Components
	branch = master
[submodule "AsyncObjectHolder"]
	path = AsyncObjectHolder
	url = https://github.com/HemulGM/AsyncObjectHolder.git
[submodule "DelphiWinUI3"]
	path = DelphiWinUI3
	url = https://github.com/HemulGM/DelphiWinUI3
